@model Behavior.Models.CounterViewModels.CounterViewModel

@{
    ViewData["Title"] = "Counter";
}

<form asp-action="View">

    <div class="row">
        <div class="col-xs-8 text-right">
            <h2 class="studentFullNameLbl"></h2>
            <input type="hidden" id="studentID" name="studentID" value="@Model.student.ID">
        </div>
        <div class="col-xs-4">
            <br />
            <a asp-controller="Firebase" asp-action="UpdateStudent" asp-route-id="@Model.student.ID" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></span>Edit</a>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 text-center">

            <h3 class="behaviorLbl"></h3>
            <input type="hidden" id="behaviorID" name="behaviorID" value="@Model.behavior">
        </div>
    </div>
    <div class="row top-buffer">

        <div class="col-xs-12 text-center">
            <h3>Count: <kbd class="counterLbl counterLbl-lg"></kbd></h3>
        </div>
    </div>
    <div class="row hidden" id="resultsSection">

        <div class="col-xs-12 text-center">
            <h3>Duration: <kbd id="SessionDuration"></kbd></h3>
            <br />
            <button type="button" id="back" class="btn btn-default btn-lg glyphicon glyphicon-menu-left"> Back</button>
            <button type="button" id="newSession" class="btn btn-primary btn-lg glyphicon glyphicon-plus"> New</button>

        </div>
    </div>
    <div class="row top-buffer">

        <div class="col-xs-12">
            <button type="button" id="countUp" class="btn btn-danger btn-lg btn-block counterBtn glyphicon glyphicon-plus"></button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-12">
            <button type="button" id="countDown" class="btn btn-default btn-lg btn-block counterBtn glyphicon glyphicon-minus"></button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-xs-12">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="submit" value="Save" class="btn btn-default btn-lg btn-block" />*@
            <button type="button" id="save" class="btn btn-success btn-lg btn-block glyphicon glyphicon-floppy-disk"> Save</button>
        </div>
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var Student = behavior.student;
        behavior.firebase.init(function (initComplete) {
            if (initComplete) {

                Student.init(behavior.firebase.database, "@Model.student.ID");
                behavior.counter.init(behavior.firebase.database, Student);

                Student.getStudent(function (student) {
                    $(".studentFirstNameLbl").text(student.firstName);
                    $(".studentLastNameLbl").text(student.lastName);
                    $(".studentFullNameLbl").text(student.firstName + " " + student.lastName);
                    Student.setStudent(student);
                });

                behavior.firebase.database.ref('/behaviors/' + @Model.behavior).once('value').then(function (snapshot) {
                    var behavior = snapshot.val();
                    $('.behaviorLbl').text(behavior.Name);
                });

                behavior.firebase.getCountSessions(Student, function (sessions) {
                    for (var s in sessions) {
                        console.log(s);

                    }
                });

            }
        });



    </script>
}
